.places h1{
    font-size: 30px;
}
article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
article h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.sec1{
    display: flex;
    align-items: center;
}
.sec2{
    margin-left: 280px;
}